body {
    padding: 0 20px;
    margin: 0;
    padding-top: 100px;
    // background: #012;
    font-family: 'Nunito', sans-serif;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.task_block {
    .task_block-inner {
        padding-top: 40px;
        .task-input {
            width: 480px;
            margin: 0 auto;
            position: relative;
            .input_task-add {
                width: 96.5%;
                padding: 10px 0 10px 15px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                font-size: 16px;
                font-weight: 500;
                user-select: none;
                outline: none;
                &:focus {
                    border: 1px solid rgba(0, 0, 0, 0.2);
                }
            }
            .input-svg {
                width: 80px;
                height: 40px;
                border: none;
                background: rgba(0, 0, 0, 0.87);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                .input--svg__add {
                    width: 22px;
                    height: 22px;
                    fill: #fff;
                    opacity: 0.4;
                }
                &:hover .input--svg__add {
                    opacity: 0.8;
                }
            }
        }
        .main_todo {
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            max-width: 750px;
            margin: 0 auto;
            margin-top: 40px;
            padding-bottom: 10px;
            .todo_inner {
                .todo_header {
                    padding: 15px 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    .todo_header-inner {
                        display: flex;
                        align-items: center;
                        .header_list {
                            display: grid;
                            grid-template-columns: 115px 130px 350px 125px;
                            text-align: center;
                            margin: 0;
                            .header_list-item {
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .todo_list {
                    .todo-empty {
                        width: 400px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        h2 {margin-bottom: 15px;}
                        p {width: 125x; margin: 0; color: #b6b6b6;
                        &:hover {color: #111;}
                        }
                    }
                    .todo_list-item {
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        .todo_list-inner {
                            width: 720px;
                            padding: 10px 5px;
                            display: grid;
                            grid-template-columns: 90px 130px 370px 120px;
                            text-align: center;
                            // display: flex;
                            // justify-content: space-between;
                            align-items: center;
                            p {margin: 0;}
                            .checkbox {margin-left: 20px; cursor: pointer;}
                            .todo__option {
                                display: flex;
                                .button_edit-todo {
                                    margin-left: 20px;
                                    width: 28px;
                                    height: 28px;
                                    margin-right: 10px;
                                    user-select: none;
                                    outline: none;
                                    border: 1px solid rgba(0, 0, 0, 0.1);
                                    background: none;
                                    border-radius: 100px;
                                    font-size: 18px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #000;
                                    cursor: pointer;
        
                                    &:hover {
                                        transform: scale(1.1);
                                        border: none;
                                        background: linear-gradient(90deg, #84a3fa 0%, #92f48f 100%);
                                        color: #fff;
                                    }
                                }
                                .button_delete-todo {
                                    width: 28px;
                                    height: 28px;
                                    background: #fff;
                                    user-select: none;
                                    outline: none;
                                    border: 1px solid rgba(0, 0, 0, 0.1);
                                    border-radius: 100px;
                                    font-size: 18px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    color: #000;
                                    cursor: pointer;
            
                                    &:hover {
                                        transform: scale(1.1);
                                        border: none;
                                        background: linear-gradient(90deg, #84a3fa 0%, #92f48f 100%);
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}